*{
    margin: 0px;
    font-family: sans-serif;
}
header{
    margin-bottom: 100px;
    background-color:  #3d4a59;;
    color: #fff;
    border-radius: 0 0 60px 60px;
}
header h1{
    margin-bottom: 35px;
}
h1{
background-color:  #3d4a59;;
    text-align: center;
    padding: 10px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
color: #fff;
border-radius: 15px;
padding: 20px;
}
.links{
margin-bottom: 20px;
   display: flex;
   justify-content: space-around;
   padding-bottom: 20px;
}
.links li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 7px;
 
}
.links li a:hover{
border-bottom: rgb(171, 83, 83) solid 3px;
font-size: 30px;
}
li{
    list-style-type: none;
}
.mode{
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px 10px;

}
section{
    margin-bottom: 100px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 25px rgb(168, 156, 156);
    border-radius: 15px;
    padding: 20px 0;
} 
article{
    width:47%;
}
.image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-left: 2px solid #c87451;
    border-right: 2px solid #c87451;
    border-top: 2px solid #d3f52c;
    border-bottom: 2px solid #d3f52c; 
    box-shadow: 5px 5px 25px rgb(109, 100, 100);
   
}
article h5{
    font-size: 30px;
    font-family: "Sacramento", cursive;
    font-weight: 500;
}
.para{
   font-size: 20px;
}
.left-section h3{
    font-size: 26px;
    margin: 20px 0;
}
.left-section p{
    font-size: 20px;
    margin-bottom: 25px;
}
.flex .left-section .insta:hover:hover{
    font-size: 30px;
    box-shadow:5px 5px 30px #060606;
}
.flex .left-section .facebook:hover{
    font-size: 30px;
    box-shadow: 5px 5px 30px royalblue;
}
.facebook, .insta{
   color: #fff;
   background-color:royalblue;
   border-radius: 8px;
   font-size: 20px;
   padding: 8px 16px;
   margin: 10px;
   text-decoration: none;
  } 
.insta{
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   color: #fff;

  background-color: #833AB4 #FD1D1D #FCB045;
  font-size: 20px
}
.flex{
    
    display: flex;
    width: 80%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   margin-top: 60px;
}
img{
    width: 30%;
    height: 30%;
}



footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 20px;
}








